
<!--Pantalla Publica-->
    <!--Se muestra al presionar alguno de los botones 
    de la pantalla cajero e ira cambiando segun el cajero atienda.-->
    <div>
            <!--Toolbars-->
            <div class="toolbar" role="banner">
              <img
                  width="100"
                  alt=""
                  src="../assets/enfermera1.png"
                />
              <h4 class="publico">Para ser atendido observe la tabla y dirijase a la caja que muestre su numero.</h4>
              
              <h3 class="fecha"> {{ fecha | date:'medium' }} </h3>
              
            </div>
            
            <div class="toolbar2" role="banner">
                
              </div>
              <br>
              <br>
              <h2 class="centrar">Pichara te ofrece la mejor atencion.</h2>
          
          <!--Pantalla donde se muestra el numero de caja para atencion
           y el numero en atencion-->
          <div class="cuadrorosa">
              
              <div class="container" class="cuadroazul">
                  <table class="table" >
                      <tbody> 
                        <tr>
                          <td><h2 class="nCaja">N° de Caja</h2></td>
                        </tr>
                      <tr>
                          <td><h2>Caja Numero 1 Belleza</h2></td>
                          
                      </tr>
                      <tr>
                          <td><h2>Caja Numero 2 Farmacia</h2></td>
                          
                      </tr>
                      <tbody> 
                      <tr>
                          <td><h2 class="nCaja">N° Atención al Cliente</h2></td>
                      </tr>
        
                      <tr>
                          <td class="centrar"><h2 class="negro">{{bell}}</h2></td>
                      </tr>
                      <tr>
                          <td class="centrar"><h2 class="negro">{{farm}}</h2></td>
                      </tr>
                      
                  </table>
              </div>
              <div>                  
              
            </div>
          </div>
        </div>
