:host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .atencion {
    margin-left: 10px;
  }

  .atencion2 {
    color: white;
    margin-left: 10px;
    justify-content: center;
  }

  .cuadrorosa {
    border-radius: 5px;
    width: 800px;
    height: 400px;
    background: #f7a4d4;
    margin: 20px;
    position: relative;
    margin-top: 100px;
    margin-right: 300px;
    left: 80px;
  
  }

  .cuadrorosa2 {
    border-radius: 5px;
    width: 800px;
    height: 400px;
    background: #0b2761;;
    margin: 20px;
    margin-top: 100px;
    margin-left: 300px;
    position: relative;
    right: 200px;
  
  }

  .centrar {
    text-align: center;
  }

  .derecha {
    position: absolute;
    right: 200px;
    margin-top: 30px;
    background: #5cb6ff;
    color: white;
    border-radius: 10px;
    
  }

  .izquierda {
    position: absolute;
    left: 230px;
    margin-top: 30px;
    background: #5cb6ff;
    color:white;
    border-radius: 10px;
    
    
  }
  
  .table {
    font-size: 15px;
    font-family: 'Comfortaa', cursive;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  h1 {
    font-family: 'Lobster' , cursive;
    text-shadow: 2px 2px 2px 2px  rgb(148, 148, 148);
  }

  h2 {
    text-align:center;
    font-size: 30px;
    font-family: 'Lobster' , cursive;
    text-shadow: 2px 2px 2px 2px  rgb(148, 148, 148);
  }

  h3{
    font-size: 15px;
    font-family: 'Comfortaa', cursive;
    text-shadow: 2px 2px 2px 2px  rgb(148, 148, 148);
  }


  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  p {
    margin: 0;
  }

  .spacer {
    flex: 1;
  }

  .toolbar {
    height: 60px;
    margin: -8px;
    display: flex;
    align-items: center;
    background-color: #0b2761;
    color: white;
    font-weight: 600;
  }

  .toolbar2 {
    height: 10px;
    margin: -8px;
    display: flex;
    align-items: center;
    background-color: #f7a4d4;
    color: white;
    font-weight: 600; 
  }

  .toolbar img {
    margin-top: 80px; 
    margin-left: 16px;
  }


  .content {
    display: flex;
    margin: 32px auto;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
  }

  .nCaja {
    color: black;
  }

  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 16px;
  }

  .card {
    font-family: 'Comfortaa', cursive;
    font-size: 15px;
    border-radius: 4px;
    background-color: #0b2761;
    color: white;
    height: 80px;
    width: 300px;
    margin: 0 8px 16px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    line-height: 24px;
  }

  .colores {
    color:white;
  }

  .card-container .card:not(:last-child) {
    margin-right: 0;
  }

  .card.card-small {
    height: 16px;
    width: 168px;
  }

  .card-container .card:not(.highlight-card) {
    cursor: pointer;
  }

  .card-container .card:not(.highlight-card):hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 17px rgba(black, 0.35);
  }

  .card-container .card:not(.highlight-card):hover .material-icons path {
    fill: rgb(105, 103, 103);
  }

  .card.highlight-card {
    background-color: #1976d2;
    color: white;
    font-weight: 600;
    border: none;
    width: auto;
    min-width: 30%;
    position: relative;
  }

  .card.card.highlight-card span {
    margin-left: 60px;
  }

  svg#rocket {
    width: 80px;
    position: absolute;
    left: -10px;
    top: -24px;
  }

  svg#rocket-smoke {
    height: 100vh;
    position: absolute;
    top: 10px;
    right: 180px;
    z-index: -10;
  }

  .imagen {
    margin-left: 40px;
  }

  .imagen2 {
    margin-left: 10px;
  }
  .eslogan {
    text-align: center;
    font-size: 15px;
    margin-left: 160px;
    font-family: 'Comfortaa', cursive;
  }

  .fecha {
    margin-left: 160px;
    font-size: 15px;
    font-family: 'Comfortaa', cursive;
  }
  button {
  font-family: 'Comfortaa', cursive;
  font-size: 15px;
  color: #1976d2;
  }

  a,
  a:visited,
  a:hover {
    color: #1976d2;
    text-decoration: none;
  }

  a:hover {
    color: #125699;
  }

  .titulo {
    font-family: 'Lobster' , cursive;
    font-size: 50px;
  }

  .publico {
    color: white;
    font-size: 15px;
    font-family: 'Comfortaa', cursive;
    margin-left: 160px;
    text-align: center;
    }

    .white {
      color: white;
    }


  /* Responsive Styles */
  @media screen and (max-width: 767px) {

    .card-container > *:not(.circle-link) ,
    .terminal {
      width: 100%;
    }

    .card:not(.highlight-card) {
      height: 16px;
      margin: 8px 0;
    }

    .card.highlight-card span {
      margin-left: 72px;
    }

    svg#rocket-smoke {
      right: 120px;
      transform: rotate(-5deg);
    }
  }