<!--Pantalla Cajero-->

<!--Toolbars-->
<div class="toolbar" role="banner">
        <img
          width="100"
          alt=""
          src="../assets/enfermera1.png"
        />

        <!--Eslogan del Toolbar-->
        <h2 class="eslogan">Atender al cliente de buena manera te hace crecer.</h2>
        
        <!--Fecha del Toolbar-->
        <h3 class="fecha"> {{ fecha | date:'medium' }} </h3>
        
      </div>
      
      <div class="toolbar2" role="banner">
          
</div>

<br>
<br>
<h2 class="centrar">Presiona un boton para atender.</h2>

<!--Botones para atender Farmacia o Belleza, automaticamente
al presionarse se muestra la pantalla 2 del cajero y 3 del publico ambas con el numero
actual segun sea la caja y la linea(Belleza o Farmacia)-->
<button class="izquierda"(click)="mostrarBelleza()">Atender Belleza</button>
<button class="derecha" (click)="mostrarFarmacia()">Atender Farmacia</button>

<!--Caja para cajero en Belleza-->
<div [hidden]="!visible" class="cuadrorosa">

    <br>
    <h2 class="atencion">N° Atención al Cliente para Belleza</h2>
    <h2 class="atencion">Caja Nº 1</h2>
    <div class="container" class="cuadroazul">
      <table class="table" >
        <tr>
          <th>Nº Actual en Atencion</th>
          <th><h2>B-0{{bellezas}} </h2></th>
        </tr>
                
      </table>

      <!--Toolbar para Cajero Belleza-->
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Articulos de Belleza</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                      <a class="nav-link" href="#">Vision</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Soporte</a>
                    </li>
                </ul>
                </div>
                </nav>
              <ul *ngFor="let obj of b">
              <li> <h3>Nombre: {{ obj.nombre }}</h3></li>
              <li> <h3>Precio: {{ obj.precio }}</h3></li>
              <li> <h3>Funcion: {{ obj.funcion }}</h3></li>
              <li> <h3>Tamaño: {{ obj.medida }}</h3></li>
              </ul>

    
        </div>

        
    </div>

<!--Caja para cajero en Farmacia-->
<div [hidden]="!visible2" class="cuadrorosa2">
    <br>
    <h2 class="atencion2">N° Atención al Cliente para Farmacia</h2>
    <h2 class="atencion2">Caja Nº 2</h2>
        <div class="container" class="cuadroazul">
             <table class="table" >
                <tr>
                    <th>Nº Actual en Atencion</th>
                    <th><h2>F-0{{farmacia}} </h2></th>
                </tr>
                    
               </table>

  <!--Toolbar para Cajero Farmacia-->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Articulos de Farmacia</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="#">Vision</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Soporte</a>
            </li>
          </ul>
      </div>
  </nav>

          <ul class="white" *ngFor="let obj of f">
              <li> <h3>Nombre: {{ obj.nombre }}</h3></li>
              <li> <h3>Precio: {{ obj.precio }}</h3></li>
              <li> <h3>Funcion: {{ obj.funcion }}</h3></li>
              <li> <h3>Tamaño: {{ obj.medida }}</h3></li>
          </ul>
        </div>      
    </div>