<nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" routerLink="">Farmacia Pichara</a>
        <button class="navbar-toggler" type="button" (click)="toggleNavbar()" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" [ngClass]="{ 'show': navbarOpen }">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="Javascript:void(0);" routerLink="" routerLinkActive="cliente">Cliente <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="Javascript:void(0);" routerLink="cajero" routerLinkActive="active">Cajero</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="Javascript:void(0);" routerLink="publico" routerLinkActive="active">Publico</a>
            </li>
          </ul>
        </div>
      </nav>
      
      <div class="container">
        <router-outlet></router-outlet>
      </div>




  




