<!--Pantalla Cliente-->

<!--En esta pantalla el cliente debe presionar un boton
y segun la linea que necesite se le asignara un numero para
ser atendido-->

  <!-- Toolbars -->
  <div class="toolbar" role="banner">
    <img
      width="100"
      alt=""
      src="../assets/enfermera1.png"
    />
    <!--Eslogan del toolbar-->
    <h2 class="eslogan">Si salud y belleza es su meta Pichara es el camino.</h2>
    
    <!--Fecha del toolbar-->
    <h3 class="fecha"> {{ fecha | date:'medium' }} </h3>
    
  </div>
  
  <div class="toolbar2" role="banner">
      <img
        width="10"
        alt=""
        src=""
      />
      
    </div>
  
  <!--Div con el Titulo de la Farmacia Pichara y su Logo-->
  <div class="content" role="main">
      <h1> {{ title }}
        <br>
        <span class="titulo"> {{ second }}</span>
        
         </h1>
  
         <img src="../assets/enfermera1.png" width="150" alt="">
            
      
  
    <h2>Atencion al Cliente</h2>
    <h3>Para ser atendido porfavor seleccione una de estas opciones.</h3>
    
    <!--Tarjetas para presionar por el cliente
    y obtener un numero para ser atendido segun sea la linea-->
    <div class="card-container">

      <!--Tarjeta Cliente Belleza-->
      <a (click)="productoBelleza()" class="card" target="" rel="" href="Javascript:void(0);">
        
        <span class="colores">{{ belleza }}</span>
  
          <img class="imagen" src="../assets/belleza.png" width="50" alt="">
        
          
        </a>
        
  
      <a (click)="productoFarmacia()" class="card" target="" rel="" href="Javascript:void(0);">
        
        <!--Tarjeta Cliente Farmacia-->
        <span class="colores">{{ farmaceutico }}</span>
  
          <img class="imagen2" src="../assets/micro.png" width="50" alt="">
      </a>

      <!--Divs para ocultar o mostrar caja de
          numero de tickect segun el cliente presione-->
      
      <!--Tickect con numero para Belleza-->
      <div [hidden]="!visible" class="card2"><h3 class="colorCaja">
        <br> Su numero para ser atendido en <br><h2>Belleza <br> 
          <h1>B-0{{ bellezas }}</h1></h2></h3>
      </div>

      <!--Tickect con numero para Farmacia-->
      <div [hidden]="!visible2" class="card2"><h3 class="colorCaja">
        <br> Su numero para ser atendido en <br><h2>Farmacia <br> 
          <h1>F-0{{ farmacia }}</h1></h2></h3>
      </div>

  
    </div>
